/* line 1, ../../compass/sass/styles.scss */
body {
  background-color: #1d96d7;
}

/* line 5, ../../compass/sass/styles.scss */
.header {
  height: 60px;
  background-color: #fff;
}
/* line 8, ../../compass/sass/styles.scss */
.header .menu-wrapper {
  max-width: 960px;
  margin: auto;
}
/* line 11, ../../compass/sass/styles.scss */
.header .menu-wrapper li {
  float: left;
  list-style-type: none;
  padding: 0px 20px;
}

/* line 19, ../../compass/sass/styles.scss */
.main-content {
  max-width: 960px;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 20px;
}
/* line 26, ../../compass/sass/styles.scss */
.main-content .header-image {
  text-align: center;
}
/* line 28, ../../compass/sass/styles.scss */
.main-content .header-image img {
  max-width: 100%;
  border-radius: 12px;
}
/* line 33, ../../compass/sass/styles.scss */
.main-content .left-content-bar {
  width: 69%;
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
  vertical-align: top;
}
/* line 39, ../../compass/sass/styles.scss */
.main-content .left-content-bar p.left-bar-header {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #253b56;
}
/* line 46, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 49, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image {
  display: inline-block;
  max-width: 30%;
}
/* line 52, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image img {
  max-width: 100%;
}
/* line 56, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-text-wrapper {
  display: inline-block;
  max-width: 60%;
}
/* line 69, ../../compass/sass/styles.scss */
.main-content .right-content-bar {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}
/* line 73, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets {
  background-color: #1994d7;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0px;
}
/* line 78, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets p {
  color: #fff;
  margin: 5px 0px;
}
/* line 82, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets .ticket-price {
  color: #fff;
  font-size: 36px;
}
/* line 86, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets button {
  background-color: #1994d7;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
/* line 93, ../../compass/sass/styles.scss */
.main-content .right-content-bar .map {
  text-align: center;
}

/* line 99, ../../compass/sass/styles.scss */
form {
  clear: both;
}

/* line 103, ../../compass/sass/styles.scss */
#nav {
  overflow: hidden;
  margin: auto;
}
/* line 106, ../../compass/sass/styles.scss */
#nav ul {
  list-style: none;
}
/* line 108, ../../compass/sass/styles.scss */
#nav ul li {
  float: left;
  margin-left: 20px;
}
/* line 111, ../../compass/sass/styles.scss */
#nav ul li a {
  color: #fff;
  font-size: 18px;
}
