{% extends 'layout.html' %}
{% block body %}

<script type="text/javascript" src="static/js/admin.js"></script>


<form class="form-horizontal" method="post" action="/admin_update">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Header Text</label>
    <div class="col-sm-10">
      <input type="text" name="header" class="form-control" id="inputEmail3" placeholder="Header Text">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Body Text</label>
    <div class="col-sm-10">
      <input type="text" name="body_text" class="form-control" id="inputPassword3" placeholder="Body Text">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Image</label>
    <div class="col-sm-10">
      <input type="text" name="image" class="form-control" id="inputPassword3" placeholder="Image Link">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>

<table id="home-content">
	<thead>
		<tr>
			<th>header_text</th>
			<th>content</th>
			<th>image_link</th>
			<th>location</th>
		</tr>
	</thead>

	{% for row in home_page_content: %}
		<!-- Loop through our sql data. Call it row -->
		<tr>
			<td>{{row[0]}}</td>
			<td>{{row[1]}}</td>
			<td>{{row[2]}}</td>
			<td>{{row[3]}}</td>
			<td><a href="/edit/{{row[4]}}">Edit</a></td>
			<td>Delete</td>
		</tr>
	{% endfor %}

</table>

{% endblock %}