<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="static/css/styles.css">

</head>
<body>

	<div class="header">
		<ul class="menu-wrapper">
			<li>Parks & Tickets</li>
			<li>Places to Stay</li>
			<li>Things to Do</li>
			<li>Help</li>
			<li>Cart</li>
		</ul>
	</div>

	<div class="main-content">
		<div class="main-header">
			<h1>Disney's Animal Kingdom Theme Park</h1>
		</div>
		<div class="header-image">
			<img src="static/images/animal-kingdom-00-full.jpg">
		</div>
		<div class="left-content-bar">
			Encounter the magic of nature with rare creatures, authentic adventures and world-class entertainment at Disney’s Animal Kingdom park, one of the largest animal theme parks in the world. Read More
		</div>
		<div class="right-content-bar">

		</div>


		Welcome to the home page... more is coming!
	</div>


</body>
</html>